<div class="container">
  <div class="jumbotron">
      <!--<h1 class="display-4">{{nuevoJuego.nombre}}</h1>-->
      <br>
  
    <div id ="quiwn" align="center">
      <h3 class="margin">¿QUIéN SOY?</h3>
      <img src="./././assets/imagenes/quiensoy.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
      <h3>Cristian Vega Alumno de UTN FRA</h3>
      <h4>Mi juego es la Escala de Truco</h4>
      <h5>El objetivo es adivinar si la carta siguiente será mayor o menor según esta escala</h5>
    </div>
  </div>
  </div>
    
