<nav class="navbar navbar-expand-lg navbar-light bg-purple fixed-top" id="elnav">
  <!--nav class="navbar navbar-expand-lg"-->
    <a class="navbar-brand">Sala de Juegos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a style="color:'yellow'" class="nav-link" routerLinkActive="active" routerLink="/Juegos"><i class="fa fa-gamepad"></i> Juegos</a>
        </li>
        <li class="nav-item">
          <a style="color:'yellow'" class="nav-link" routerLinkActive="active" routerLink="/QuienSoy"><i class="fa fa-user-users"></i> ¿Quién
            soy?</a>
        </li>
        <li class="nav-item">
          <a style="color:'yellow'"  class="nav-link" href="http://github.com/Waldo2103" target="_blank"><i class="fa fa-github"></i>
            Github</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li  class="nav-item"><a style="color:'yellow'" class="nav-link" routerLink="/Registrarse"><i class="fa fa-sign-in"></i> Registrarse</a></li>
        <li  class="nav-item"><a style="color:'yellow'" class="nav-link" routerLink="/Login" (click)="Logout()"><i class="fa fa-sign-out"></i> Desconectarse</a></li>
      </ul>
    </div>
  </nav>

  <!--       *********************************************************************              -->
  <!--mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-blue scrolling-navbar" [containerInside]="false">
    <logo>
        <a class="logo navbar-brand" routerLink="/Principal"><strong>Sala de Juegos</strong></a>
    </logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active waves-light" mdbRippleRadius>
                <a class="nav-link" routerLink=>Juegos <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link">Features</a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link">Pricing</a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link">Opinions</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link"><i class="fa fa-instagram"></i></a>
            </li>
        </ul>
    </links>
  </mdb-navbar>
  
  <main>
    <div class="container" style="height:1300px;">
        
    </div>
  </main-->