<!--<ul class="nav nav-pills nav-justified">
  <li class="active"><a routerLink="/Principal">Ir a inicio</a></li>
  <li><a (click)="TraerTodos()">Todos los jugadores</a></li>
  <li><a (click)="TraerGanadores()">Los ganadores</a></li>
  <li><a (click)="TraerPerdedores()">Los perdedores</a></li>
</ul>-->



<table class="table">
  <thead class="tablaH">
    <tr>
      <th scope="col">Usuario</th>
      <th scope="col">Fecha Conexión</th>
    </tr>
  </thead>
  <tbody class="tablaB">
    <tr *ngFor="let jugador of listado" >
      <td >{{jugador.email}} </td>
      <td>{{jugador.fec}} </td> 
      
    </tr>
   
  </tbody>
</table>