<div class="container">
    <!--mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Piedra, Papel o Tijera</mat-card-title>
          <mat-card-subtitle>Ganale a la máquina</mat-card-subtitle>
        </mat-card-header>
        <img routerLink="/Juegos/PiedraPapelTijera" mat-card-image src="./././assets/imagenes/PiedraPapelTijera.png" alt="Probar Suerte">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card-->
    <div class="card" style="width: 16rem;">
        <a routerLink="/Juegos/Agilidad">
            <img src="./././assets/imagenes/agilidad.png" class="card-body" alt="agilidad-mental">
        </a>
        <div class="card-title">AGILIDAD ARITMéTICA</div>
        <div class="card-subtitle">Demuestra tu agilidad mental!</div>
    </div>
    <div class="card" style="width: 16rem;">
        <a routerLink="/Juegos/PiedraPapelTijera">
            <img src="./././assets/imagenes/PiedraPapelTijera.png" class="card-body" alt="piedra-papel-tijera">
        </a>     
        <div class="card-title">PIEDRA, PAPEL O TIJERA</div>
        <div class="card-subtitle">Ganale a la máquina!</div>
    </div>
    <!--div class="card" style="width: 16rem;">
        <a routerLink="/Juegos/Adivina">
        <img src="./././assets/imagenes/adivina.png" class="card-body" alt="adivina-el-numero" >
        </a>
        <div class="card-title">ADIVINA EL NúMERO</div>
        <div class="card-subtitle">¿Qué tanta suerte tenés?</div>
    </div-->
    <div class="card" style="width: 16rem;">
        <a routerLink="/Juegos/Cartas"><!--FALTA AGREGAR LA RUTA UNA VEZ LISTO EL JUEGO-->
            <img src="./././assets/imagenes/cartas.png" class="card-body" alt="Cartas">
        </a>
        <div class="card-title">ESCALA DE TRUCO</div>
        <div class="card-subtitle">Práctica la escala de Truco!</div>
    </div>
    <div class="card" style="width: 16rem;">
        <a routerLink="/Juegos/Anagrama">
        <img src="./././assets/imagenes/anagrama.png" class="card-body" alt="anagrama">
        </a>
        <div class="card-title">ANAGRAMA</div>
        <div class="card-subtitle">Forma la palabra!</div>
    </div>
    <div class="card" style="width: 16rem;">
        <a routerLink="/Juegos/Tateti">
        <img src="./././assets/imagenes/tateti.png" class="card-body" alt="tateti">
        </a>
        <div class="card-title">TATETI</div>
        <div class="card-subtitle">Armá una linea!</div>
    </div>
  </div>