
<div class="container" >
  <div class="jumbotron" style="padding:50px;">
  <!--*****************************************************************************************-->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" id="btnModal" [hidden]="true" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fullscreen-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!--button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4-->
      </div>
      <div class="modal-body">
          <p class="titulo">{{modalText}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="" data-dismiss="modal" routerLink="/Registro">Reintentar</button>
        <button type="button" class=""  data-dismiss="modal" routerLink="/Login">Login</button>
      </div>
    </div>
  </div>
</div>
<!--*****************************************************************************************-->
    <form [formGroup]="form" (ngSubmit)="OnSubmitRegister()">
        <div class="imgcontainer">
            <img src="./././assets/imagenes/login.png" alt="Avatar" class="avatar" max-width="104" >
          </div>
      <div class="container">
        <label><b>Correo</b></label>
        <input type="text" placeholder="Correo"   formControlName="mail" required>
        <ng-container *ngFor="let validation of validation_messages.mail">
          <div *ngIf="form.get('mail').hasError(validation.type) && (form.get('mail').dirty || form.get('mail').touched)">
            <label color="danger"> {{ validation.message }} </label>
          </div>
        </ng-container>
        <label><b>Clave</b></label>
        <input type="password" placeholder="Clave"  formControlName="password" required>
        <ng-container *ngFor="let validation of validation_messages.password">
          <div
            *ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty || form.get('password').touched)">
            <label color="danger"> {{ validation.message }} </label>
          </div>
        </ng-container>   
        <label><b>Confirmar Clave</b></label>
        <input type="password" placeholder="Confirmar Clave"  formControlName="password2" required>
        <ng-container *ngFor="let validation of validation_messages.password2">
          <div
            *ngIf="form.get('password2').hasError(validation.type) && (form.get('password2').dirty || form.get('password2').touched)">
            <label color="danger"> {{ validation.message }} </label>
          </div>
        </ng-container>  
        <button type="button" class="" type="submit" [disabled]="!form.valid">Registrar</button>
      </div>

      <div class="container">
        <button type="button" class="" routerLink="/Login" >Login</button>
      </div>
     
    </form>
  </div>
</div>