label, p
{
   color: white;
    font-size: 30px;
}

#input-numero-ingresado {
    width: 100px !important;
    height: 100px;
    font-size: 80px;
    background-color: yellow;
    text-align: center;
    color: purple;
}
span{
    font-size: 40px;
    /*background-color: yellow;*/
    color:yellow;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}



/*
Full screen Modal 
*/

/*
Full screen Modal 
*/
.fullscreen-modal .modal-dialog {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  @media (min-width: 768px) {
    .fullscreen-modal .modal-dialog {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .fullscreen-modal .modal-dialog {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .fullscreen-modal .modal-dialog {
       width: 1170px;
    }
  }

  .modal-content{
      background-color: rgb(183, 0, 255);
  }

  .titulo{
    color: yellow;
  }