label, p
{
   color: white;
    font-size: 30px;
}

#input-numero-ingresado {
    width: 100px !important;
    height: 100px;
    font-size: 80px;
    background-color: yellow;
    text-align: center;
    color: purple;
}
span{
    font-size: 40px;
    background-color: yellow;
    color:purple;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}



/*
Full screen Modal 
*/