<div class="container">
    <div align="center" class="jumbotron">
         <!--*****************************************************************************************-->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" id="btnModal" [hidden]="true" data-target="#myModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fullscreen-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!--button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4-->
        </div>
        <div class="modal-body">
            <p class="titulo">{{modalText}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="" data-dismiss="modal" (click)="nuevo()">Volver a Jugar</button>
          <button type="button" class=""  data-dismiss="modal" routerLink="/Juegos">Salir</button>
        </div>
      </div>
    </div>
  </div>
  <!--*****************************************************************************************-->
        <h1 class="display-4">Escala de Truco</h1>
        <br>
        <div align="center" *ngIf="!enJuego">
                <p><button (click)="nuevo()" class="btn-lg" type="button" id="button-nuevo">
                        Jugar</button></p>
        </div>
        <div class="en-juego">
            <div class="container tablero">
                <div class="" *ngIf="!enJuego">
                    <p></p>
                </div>
                <div class="">
                    <div class="col" *ngIf="nuevoJuego.cartaSeleccionada!=''">
                        <div class="">
                            <h2></h2>
                            <img src={{nuevoJuego.mazo[this.nuevoJuego.cartaSeleccionada].foto}} width="100px" height="150px" alt=""><span>   =>   </span><img *ngIf="!eligio" src="../../assets/imagenes/interroga.png" width="100px" height="150px" alt=""><img *ngIf="eligio" src="{{nuevoJuego.mazo[this.nuevoJuego.cartaSeleccionadaEscondida].foto}}" width="100px" height="150px" alt="">
                        </div>
                        <div class="" align="center">
                            <br>
                            <div class="button-group mb-3" *ngIf="!eligio">
                                <button (click)="eleccion('mayor')">Mayor</button> - <button (click)="eleccion('menor')">Menor</button> - <button (click)="eleccion('igual')">Igual</button>
                                <!--input id="input-ingresado" [(ngModel)]="nuevoJuego.cartaIngresada" type="text"
                                    class="form-control" placeholder="Ingrese un anagrama:"
                                    aria-label="Ingrese un anagrama:" aria-describedby="button-addon2"-->
                                
                            </div>
                            <br>
                            <div align="center" [hidden]="ocultarVerificar" class="">
                                <button class="" type="button" id="button-verificar"
                                    (click)="otraCarta()">Otra Carta</button>
                            </div>
                        </div>
                        <p> Record: {{nuevoJuego.cont}} </p>

                    </div>
                </div>
                <div class="row">
                </div>
            </div>
        </div>
    </div>
</div>