<!--div *ngFor="let juego of listado">

<p> {{juego.nombre}} </p>
<p> {{juego.jugador}} </p>

</div-->

<table class="table">
    <thead class="tablaH">
      <tr>
        <th scope="col">Juego</th>
        <th scope="col">Jugador</th>
        <th scope="col">Resultado</th>
        <th scope="col">Fecha de Partida</th>
      </tr>
    </thead>
    <tbody class="tablaB">
      <tr *ngFor="let juego of listado">
        <td >{{juego.juego}} </td>
        <td >{{juego.email}} </td> 
        <td >{{juego.resultado}} </td>   
        <td >{{juego.fechaJugada}} </td>     
      </tr>
     
    </tbody>
  </table>