<div class="container">
    <div class="jumbotron" align="center">
        <!--*****************************************************************************************-->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" id="btnModal" [hidden]="true" data-target="#myModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fullscreen-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!--button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4-->
        </div>
        <div class="modal-body">
            <p class="titulo">{{modalText}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="" data-dismiss="modal" (click)="nuevo()">Volver a Jugar</button>
          <button type="button" class=""  data-dismiss="modal" routerLink="/Juegos">Salir</button>
        </div>
      </div>
    </div>
  </div>
  <!--*****************************************************************************************-->
        <h1 class="display-4">Piedra Papel o Tijera</h1>
        <br>
        <div class="row">
        <div class="col">
            <div class="en-juego col-12" *ngIf="enJuego">
                    <div class="label-jugadores row">
                        <label class="col-12">
                            <p>
                                <i class="fa fa-spinner fa-spin">
                                </i> Elija su jugada</p>
                        </label>
                    </div>
                    <div class="row">
                            <div class="col-4">
                                <img (click)="detener(1)" class="imagen-elegir-jugada" src="../../../assets/imagenes/piedra.png"
                                    alt="piedra">
                            </div>
                            <div class="col-4">
                                    <img (click)="detener(2)" class="imagen-elegir-jugada" src="../../../assets/imagenes/papel.png"
                                    alt="papel">
                            </div>
                            <div class="col-4">
                                <img (click)="detener(3)" class="imagen-elegir-jugada" src="../../../assets/imagenes/tijera.png"
                                    alt="tijera">
                            </div>                   
                    </div>
       </div>
    </div>
    <div class="col" *ngIf="enJuego">
        <div class="label-jugadores row">
            <p class="col-4"><b>Jugador</b></p>
            <p class="col-4"><b>Oponente</b></p>
        </div>
        <div class="row">
            <div class="col-4">
                <img class="imagen-jugada" src={{imagenJugadaUsario}} alt="">
            </div>
            <div class="col-4">
                <img class="imagen-jugada" src={{imagenJugada}} alt="">
            </div>
        </div>
    </div>
     </div>
        <br>
       
        <div class=""align="center"><!-- *ngIf="!enJuego"  -->
            <p ><button (click)="nuevo()" class=" btn-lg" type="button" id="button-nuevo">
                    Jugar</button></p>
        </div>
    </div>
</div>